<!doctype html>
  <html>
  <head>
    <title>Profile</title>
    <link rel="icon" type="image/ico" href="http://www.mysite.com/favicon.ico"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/stylesheets/hover.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>

    <!-- NAVBAR -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Forritari.is</a>
        </div><!--/.navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" class="hvr-underline-from-left">Heim</a></li>
            <li><a href="/about" class="hvr-underline-from-left">Um okkur</a></li>
              <% if(user){ %>
                 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.local.firstname + " " + user.local.lastname %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="/profile" class="hvr-underline-from-left">Stillingar</a></li>
                <li><a href="/logout" class="hvr-underline-from-left">Útskráning</a></li>
            </li>
               <% } else{ %>  
                 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Skrá inn<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/login" class="hvr-underline-from-left">Innskráning</a></li>
                <li><a href="/signup" class="hvr-underline-from-left">Nýr notandi</a></li>
            </li>
              <% } %>
        </div><!--/.navbar-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    <div class="container marketing">

      <h1>Stillingar</h1>
      <hr>

      <div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <img src="//placehold.it/100" class="avatar img-square" alt="avatar">
            <h6>Hlaða inn mynd</h6>
            <form method="post" enctype="multipart/form-data" action="/file-upload">
              <input type="file" name="thumbnail" >
              <input type="submit">
            </form>
          </div>
        </div>


        <div class="container">
         <div class="col-md-9 personal-info">
          <h3 >Síðan mín</h3>

          <form class="form-horizontal" role="form" method="post" action="/profile">

            <div class="form-group">
              <label class="col-md-2 control-label" type:"text"> Fornafn:</label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="firstName" value=<%= user.local.firstname %>>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label" type:"text"> Eftirnafn:</label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="lastName" value=<%= user.local.lastname %>>
              </div>
            </div>

            <div class="form-group">
              <label for="birthday" class="col-sm-2 control-label">Fæðingardagur:</label>
              <div class="col-md-6">
               <input class="form-control" type="date" name="dateBirth" value=<%= user.local.birthday %>>
             </div>
           </div>
           <div class="form-group">
            <label class="col-md-2 control-label">Kyn:</label>
            <div class="col-md-6">
              <label class="radio-inline"><input type="radio" name="men" <%= user.local.men %>>kk</label>

              <label class="radio-inline"><input type="radio" name="women" <%= user.local.women %>>kvk</label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Vinna:</label>
            <div class="col-md-6">
              <label class="radio-inline"><input type="checkbox" name="careerJob" <%= user.local.careerJob%> >Framtíðarstarf</label>
              <label class="radio-inline"><input type="checkbox" name="summerJob" <%= user.local.summerJob%>>Sumarstarf</label>
              <label class="radio-inline"><input type="checkbox" name="partialJob" <%= user.local.partialJob%>>Tímabundið starf</label>
              <label class="radio-inline"><input type="checkbox" name="assignmentJob" <%= user.local.assignmentJob%>>Verkefni</label>
              <label class="radio-inline"><input type="checkbox" name="startupJob" <%= user.local.startupJob%>>Startup samstarf</label>
            </div>
          </div>
            <h3 class="col-md-12">Menntun</h3>
             <div class="form-group">
            <label class="col-md-2">Skóli:</label>
            <label class="col-md-2">Gráða:</label>
            <label class="col-md-2">Námsgrein:</label>
            <label class="col-md-2">Dags.frá:</label>
            <label class="col-md-2">Dags.til:</label>
            <label class="col-md-1">Staða:</label>
            </div>
          <div id="degree">
            <%  if(user.local.degrees.school != undefined) {
              var deg = user.local.degrees;
            var school = deg.school.split(",");
            var degree = deg.degree.split(",");
            var education = deg.education.split(",");
            var startDate = deg.startDate.split(",");
            var endDate = deg.endDate.split(",");
            var statuss = deg.statuss.split(",");
            for(var i=0; i<school.length; i++) {  %>
            <div class="form-group" class="jebb">
      <input class="col-md-2" name="school" value=<%=school[i]%>>
      <select class="col-md-2" name="degree">
                  <option value=" "> </option>
                  <option value="Grunnskólapróf" <%if(degree[i]=== "Grunnskólapróf") {%> Selected <%}%>>Grunnskólapróf</option>
                  <option value="Framhaldsskólapróf" <%if(degree[i]=== "Framhaldsskólapróf") {%> Selected <%}%>>Framhaldsskólapróf</option>
                  <option value="Háskólanámsgr" <%if(degree[i]=== "Háskólanámsgr") {%> Selected <%}%>>Háskólanám grunnnám</option>
                  <option value="Háskólanámfr" <%if(degree[i]=== "Háskólanámfr") {%> Selected <%}%>>Háskólanám framhaldsnám</option>
                  <option value="Háskólanáman" <%if(degree[i]=== "Háskólanáman") {%> Selected <%}%>>Háskólanám annað</option>
                  <option value="Starfsmenntun" <%if(degree[i]=== "Starfsmenntun") {%> Selected <%}%>>Starfsmenntun</option>
                  <option value="Annað" <%if(degree[i]=== "Annað") {%> Selected <%}%>>Annað</option>
                </select>
                <input class="col-md-2" name="education" value=<%= education[i] %>>
                <input type="month" class="col-md-2" name="startDate" value=<%=startDate[i]%>>
                <input type="month" class="col-md-2" name="finishDate" value=<%=endDate[i]%>>
                <select name = "statuss">
                <OPTION value=" "> </OPTION>
                <OPTION value="Lokið" <%if(statuss[i]=== "Lokið") {%> Selected <%}%>>Lokið</OPTION>
                <OPTION value="Ólokið" <%if(statuss[i]=== "Ólokið") {%> Selected <%}%>>Ólokið</OPTION>
              </select>
              <input type="button" id="virk" class="eyda" value="eyda"></div>
              <% } }%>
        </div>
        <input type="submitDegree" class="btn btn-default btn-sm" id="submitDegrees" value="Bæta við">

         <h3 class="col-md-12">Starfsreynsla</h3>
             <div class="form-group">
            <label class="col-md-3">Fyrirtæki:</label>
            <label class="col-md-2">Starfsheiti:</label>
            <label class="col-md-2">Starfshlutfall:</label>
            <label class="col-md-2">Dags.frá:</label>
            <label class="col-md-2">Dags.til:</label>
            </div>
            <div id="workedJobs">
            <%  if(user.local.job.job != undefined) {
              var jobs = user.local.job;
            var job = jobs.job.split(",");
            var jobName = jobs.jobName.split(",");
            var jobPerc = jobs.jobPerc.split(",");
            var jobStartDate = jobs.jobStartDate.split(",");
            var jobEndDate = jobs.jobEndDate.split(",");
            for(var i=0; i<job.length; i++) {  %>
          <div class="form-group" class="work">
      <input class="col-md-3" name="job" value=<%=job[i]%>>
      <input class="col-md-3" name="jobName" value=<%=jobName[i]%>>
      <input class="col-md-1" name="jobPerc" value=<%=jobPerc[i]%>>
      <input type="month" class="col-md-2" name="jobStartDate" value=<%=jobStartDate[i]%>>
      <input type="month" class="col-md-2" name="jobEndDate" value=<%=jobEndDate[i]%>>
      <input type="button" class="eydaJob" value="Eyða">
    </div>
 <% } } %>
    </div>
            <input type="submitDegree" class="btn btn-default btn-sm" id="submitJob" value="Bæta við">

  <h3 class="col-md-12">Kunnátta</h3>
             <div class="form-group">
            <label class="col-md-4">Forritunarmál, kerfi eða annað:</label>
            <label class="col-md-3">Reynsla:</label>
            </div>
            <div id="techknow">
               <%  if(user.local.knowledge.knowledge != undefined) {
               var know = user.local.knowledge;
               var knowledges = know.knowledge.split(",");
               var rateKnowledge = know.rateKnowledge.split(","); 
               for(var i=0; i<knowledges.length; i++){ %>
          <div class="form-group" class="knowing">
          <input class="col-md-4" name="knowledge" value= <%= knowledges[i] %>> 
            <select name="rateKnowledge">
              <OPTION value=" "> </OPTION>
              <OPTION value ="Grunnreynsla"<%if(rateKnowledge[i]=== "Grunnreynsla"){ %> Selected <% } %>>Grunnreynsla</OPTION>
              <OPTION value="Meðalreynsla" <%if(rateKnowledge[i]=== "Meðalreynsla"){ %> Selected <% } %>>Meðalreynsla</OPTION>
              <OPTION value="Sérfræðingur" <%if(rateKnowledge[i]=== "Sérfræðingur"){ %> Selected <% } %>Sérfræðingur</OPTION>
            </select>
          </div>
          <% } } %>
        </div>
        <input type="submitDegree" class="btn btn-default btn-sm" id="submitKnow" value="Bæta við">

          <div class="form-group">
            <label class="col-md-2 control-label">Um mig:</label>
            <div class="col-md-6">
              <textarea name="textColumn" class="form-control" rows="5"><%=user.local.textColumn%> </textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" >Vefsíða:</label>
            <div class="col-md-6">
              <input class="form-control" type="text" name="website" value=<%= user.local.website %>>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-2 control-label" >Facebook:</label>
            <div class="col-md-6">
              <input class="form-control" type="text" name="facebook" value=<%= user.local.feisbook %>>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-2 control-label" >Skype:</label>
            <div class="col-md-6">
              <input class="form-control" type="text" name="skype" value=<%= user.local.skype %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" >Símanúmer:</label>
            <div class="col-md-6">
              <input class="form-control" type="text" name="telephone" value=<%= user.local.telephone %>>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Vista breytingar">
              <span></span>
              <input type="reset" class="btn btn-default" value="Hætta við">
            </div>
          </div>


      <!-- <div class="row">

      <!-- LOCAL INFORMATION -->
      <!--   <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            <p>
              <strong>id</strong>: <%= user._id %><br>
              <strong>email</strong>: <%= user.local.email %><br>
              <strong>password</strong>: <%= user.local.password %>
            </p>

          </div>
        </div>

      </div> --> 
    </form>
  </div>

</div>
</div>
</hr>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/profileFrontend.js"></script>
</body>
</html>
