  <!doctype html>
  <html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
    body        /*{ padding-top:20px; word-wrap:break-word; }*/
    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse  ">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/">Forsíða</a></li>
            <li class="active"><a href="/profile">Prófíll </a></li>
            <li><a href="#">Síða 2</a></li> 
            <li><a href="#">Síða 3</a></li> 
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Skrá út</a></li>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <h1>Stillingar</h1>
      <hr>

      <div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <img src="//placehold.it/100" class="avatar img-square" alt="avatar">
            <h6>Hlaða inn mynd</h6>

            <input type="file" class="form-control">
          </div>
        </div>

        <div class="container">
         <div class="col-md-9 personal-info">
          <h3 >Síðan mín</h3>
          <form class="form-horizontal" role="form" method="post" action="/profile">
            <div class="form-group">
              <label class="col-md-2 control-label" type:"text">Fullt nafn:</label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="fullName" value=<%= user.local.fullname %>>
              </div>
            </div>

            <div class="form-group">
              <label for="birthday" class="col-xs-3 col-sm-2 control-label">Fæðingardagur:</label>
              <div class="col-xs-6">
                 <input class="form-control" type="date" name="dateBirth" value=<%= user.local.birthday %>>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Kyn:</label>
              <div class="col-md-6">
                <label class="radio-inline"><input type="radio" name="men" <%= user.local.men %>>kk</label>

                <label class="radio-inline"><input type="radio" name="women" <%= user.local.women %>>kvk</label>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-2 control-label">Um mig</label>
 <div class="col-md-6">
  <textarea class="form-control " rows="5" name:"comments"></textarea>
</div>
</div>
            <div class="form-group">
              <label class="col-md-2 control-label" >Vefsíða:</label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="website" value=<%= user.local.website %>>
              </div>
            </div>



                        <div class="form-group">
              <label class="col-md-2 control-label" >Facebook:</label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="facebook" value=<%= user.local.feisbook %>>
              </div>
            </div>


                        <div class="form-group">
              <label class="col-md-2 control-label" >Skype:</label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="skype" value=<%= user.local.skype %>>
              </div>
            </div>
                        <div class="form-group">
              <label class="col-md-2 control-label" >Símanúmer:</label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="telephone" value=<%= user.local.telephone %>>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Vista breytingar">
                <span></span>
                <input type="reset" class="btn btn-default" value="Hætta við">
              </div>
            </div>


      <!-- <div class="row">

      <!-- LOCAL INFORMATION -->
      <!--   <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            <p>
              <strong>id</strong>: <%= user._id %><br>
              <strong>email</strong>: <%= user.local.email %><br>
              <strong>password</strong>: <%= user.local.password %>
            </p>

          </div>
        </div>

      </div> --> 
    </form>
  </div>

</div>
</div>
</hr>
</body>
</html>
