<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forritari.is</title>
  <link rel="icon" type="image/ico" href="http://www.mysite.com/favicon.ico"/>


  <!-- Bootstrap -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/carousel.css" rel="stylesheet"> 
  <link href="/stylesheets/hover.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/lightbox.css" rel="stylesheet" >
  <link href="/stylesheets/usersstyle.css" rel="stylesheet" >
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



  

 <!--  <link rel="shortcut icon" href="img/demopage/favicon.png">
 <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Karla%7CMontserrat"> -->


 <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
     <!-- NAVBAR -->
     <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Forritari.is</a>
        </div><!--/.navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" class="hvr-underline-from-left">Heim</a></li>
            <li><a href="/about" class="hvr-underline-from-left">Um okkur</a></li>
            <% if(user){ %>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.local.firstname + " " + user.local.lastname %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/profile" class="hvr-underline-from-left">Stillingar</a></li>
                <li><a href="/logout" class="hvr-underline-from-left">Útskráning</a></li>
              </li>
              <% } else{ %>  
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Skrá inn<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/login" class="hvr-underline-from-left">Innskráning</a></li>
                  <li><a href="/signup" class="hvr-underline-from-left">Nýr notandi</a></li>
                </li>
                <% } %>
              </div><!--/.navbar-collapse -->
            </div><!--/.container-fluid -->
          </nav>



          <div class="background"> </div>
          <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">


              <div class="users col-xs-12"> 
                <section class="detailpartur">
                  <div class="row">


                    <%= usersprofile.local %>
                    <% usersprofile.forEach( function( info ){ %>

                    <div class="col-xs-8">

                      <div class="row">
                        <div class="col-xs-6 col-sm-4 ">
                          <img <%if(info.local.userPhoto) {%>src=<%=info.local.userPhoto%> class="img-circle" alt="Generic placeholder image" style="width: 140px; height: 140px;"<%}
                          else{ 
                            if(info.local.men=="checked"){%> src="/images/unknown-man.jpeg" class=" avatar img-circle" alt="avatar" style="width: 140px; height: 140px;"<%}
                            else{%> src="/images/unknown-woman.png" class=" avatar img-circle" alt="avatar" style="width: 140px; height: 140px;"<%}
                            }%>>
                            <p><%= info.local.birthday %></p> 
                          </div>

                          <div class =" col-xs-12 col-sm-9 col-md-8 text-left ">
                            <h2><%= info.local.firstname %></h2>


                            <h3 class="text-muted"> Mobile & Web Develope  <%= info.local.headline %></h3> 
                            <!--      <p><%= info.local.birthday %></p>  -->
                          </div>

                          <div class="col-xs-12">
                            <div class="row-contaioner">
                              <p class="text-muted text-left"><%= info.local.textColumn %></p>
                            </div>
                          </div>


                          <div class="col-xs-12">
                            <div class="row-contaioner">
                              <h4 class="text-left text-info"> Menntun </h4>
                              <hr class="line-color"></hr>
                            </div>
                          </div>


                          <div class="col-xs-12">
                            <div class="row-contaioner">
                              <h4 class="text-left text-info"> Starfsreynsla </h4>
                              <hr class="line-color"></hr>
                            </div>
                          </div>

                          <div class = "imagescontainer">
                            <div class = "row">
                              <div class="col-xs-12 ">
                                <h4 class ="text-info">Myndagallerí</h4>
                                <hr >
                                <div class="carousel slide media-carousel" id="media">
                                  <div class="carousel-inner">
                                    <div class="item  active">
                                      <div class="row">

                                        <div class="col-md-4">
                                     
                                          <a class="thumbnail" href="<%=info.local.projects.pic0%>" data-lightbox="project-image" data-title=""  ><img <%if(info.local.projects.pic0) {%>src=<%=info.local.projects.pic0%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>

                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic1%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic1) {%>src=<%=info.local.projects.pic1%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>

                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic2%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic2) {%>src=<%=info.local.projects.pic2%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>        
                                      </div>

                                    </div>
                                    <div class="item">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic3%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic3) {%>src=<%=info.local.projects.pic3%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>        

                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic4%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic4) {%>src=<%=info.local.projects.pic4%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>

                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic5%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic5) {%>src=<%=info.local.projects.pic5%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>        
                                      </div>
                                    </div>
                                  </div>
                                  <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                  <a data-slide="next" href="#media" class="right carousel-control">›</a>
                                </div>                          
                              </div>
                            </div>
                            <hr>
                          </div><!--imagecontainer-->


                        </div>
                      </div>
                      <!-- hafa samband-->

                      <div class="col-xs-4 ">
                        <h4 class="text-left infostyle text-info"> Hafa samband</h4>
                        <hr class="line-color"></hr>

                        <%if(info.local.telephone != undefined) { %>
                        <p class="contact-me-info"><strong> Símanúmer</strong> </p>
                        <p class="contact-me-text text-muted">
                          <i class="fa fa-phone fa-2x"></i>&nbsp;
                          <%= info.local.telephone %> </p>
                          <hr class =" line-between-contact-me"> 
                          <%}%>      


                          <%if(info.local.skype != undefined) { %>
                          <p class="contact-me-info"><strong> Skype</strong> </p>  
                          <p class="contact-me-text text-muted">
                            <i class="fa fa-skype fa-2x"></i>&nbsp;
                            <%= info.local.skype %> </p>
                            <hr class =" line-between-contact-me"></hr>
                            <%}%>


                            <%if(info.local.website != undefined) { %>
                            <p class="contact-me-info" ><strong> Vefsíða</strong> </p>  
                            <p class="contact-me-text text-muted">  
                             <i class="fa fa-globe fa-2x"></i>&nbsp;
                             <a href ="<%= info.local.website %>"><%= info.local.website %></a></p>
                             <hr class =" line-between-contact-me">
                             <%}%>

                             <%if(info.local.feisbook != undefined) { %>
                             <p class="contact-me-info"><strong> Facebook</strong> </p>
                             <p class="contact-me-text text-muted"> 
                              <i class="fa fa-facebook fa-2x"></i> &nbsp;
                              <a href ="<%= info.local.feisbook %>">www.facebook.com/<%= info.local.firstname %></a></p>    
                              <hr class =" line-between-contact-me">
                              <%}%>

                              <!-- ég er að leita eftir -->

                              <%if((info.local.careerJob || info.local.summerJob || info.local.partialJob || info.local.assignmentJob || info.local.startupJob)== "checked"){ %>

                              <h4 class="text-left infostyle text-info">Ég er að leita eftir</h4> 
                              <hr class="line-color"></hr>


                              <%if(info.local.careerJob == "checked"){ %>
                              <p class="bg-primary careerJob "><strong> Framtíðarstarf </strong></p><%}%>

                              <%if(info.local.summerJob == "checked"){ %>
                              <p class="bg-primary  careerJob"><strong>  Sumarstarf</strong> </p><%}%>

                              <%if(info.local.partialJob == "checked"){ %>
                              <p class="bg-primary careerJob"> <strong> Tímabundið starf </strong></p><%}%>

                              <%if(info.local.assignmentJob == "checked"){ %>
                              <p class="bg-primary careerJob"> <strong> Verkefni </strong></p><%}%>

                              <%if(info.local.startupJob == "checked"){ %>
                              <p class="bg-primary  careerJob"> <strong> Startup samstarf </strong></p><%}%>

                              <%}%>

                              <!-- Kunnáta -->

                              <h4 class="text-left infostyle text-info">Kunnátta</h4>  
                              <!-- <hr style="border-top: 2px dotted grey"/> -->
                              
                              <hr class="line-color"></hr>
                              
                              <div class="progress">
                                <div class="progress-bar progress-bar-info "  role="progressbar" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                <span> R </span>
                               </div>
                              </div>

                              <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria- valuenow="100"
                               aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                 <span> Java </span>
                                </div>
                              </div>

                               <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                  aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                  <span> Morpho</span>   
                                </div>
                               </div>
  
                              <div class="progress">
                               <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                               <span> php</span>
                              </div>
                             </div>

                    </div>

                  </div>

                </section> 

                <p><a href="/<%= info._id %>/delete">Delete</a></p>
                <% }); %>



              </div>
            </div> <!-- /.row -->
          </div> 


          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="/javascript/bootstrap.min.js"></script>
          <script src="/javascript/timer.js"></script>
          <script src="/javascript/lightbox.js"></script>


        </body>
        </html>