<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forritari.is</title>
  <link rel="icon" type="image/ico" href="http://www.mysite.com/favicon.ico"/>


  <!-- Bootstrap -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/carousel.css" rel="stylesheet"> 
  <link href="/stylesheets/hover.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/lightbox.css" rel="stylesheet" >
  <link href="/stylesheets/usersstyle.css" rel="stylesheet" >
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
     <!-- NAVBAR -->
     <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Forritari.is</a>
        </div><!--/.navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" class="hvr-underline-from-left">Heim</a></li>
            <li><a href="/about" class="hvr-underline-from-left">Um okkur</a></li>
            <li><a href="/forum" class="hvr-underline-from-left">Umræða</a></li>
            <li><a href="/contact" class="hvr-underline-from-left">Auglýstu starf</a></li>
            <% if(user){ %>
            <li class="dropdown text-capitalize"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.local.firstname + " " + user.local.lastname %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/profile" class="hvr-underline-from-left">Stillingar</a></li>
                <li><a href="/logout" class="hvr-underline-from-left">Útskráning</a></li>
              </li>
              <% } else{ %>  
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Skrá inn<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/login" class="hvr-underline-from-left">Innskráning</a></li>
                  <li><a href="/signup" class="hvr-underline-from-left">Nýr notandi</a></li>
                </li>
                <% } %>
              </div><!--/.navbar-collapse -->
            </div><!--/.container-fluid -->
          </nav>



          <div class="background"> </div>
          <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">


              <div class="users col-xs-12"> 
                <section class="detailpartur">
                  <div class="row">
                    <%= usersprofile.local %>
                    <% usersprofile.forEach( function( info ){ %>
                    <div class="col-xs-8">
                      <div class="row">
                        <div class="col-xs-6 col-sm-4 ">
                          <img <%if(info.local.userPhoto) {%>src=<%=info.local.userPhoto%> class="img-circle" alt="Generic placeholder image" style="width: 140px; height: 140px;"<%}
                          else{ 
                            if(info.local.men=="checked"){%> src="/images/unknown-man.jpeg" class=" avatar img-circle" alt="avatar" style="width: 140px; height: 140px;"<%}
                            else{%> src="/images/unknown-woman.png" class=" avatar img-circle" alt="avatar" style="width: 140px; height: 140px;"<%}
                            }%>>
                            <p><%= info.local.birthday %></p> 
                          </div>

                          <div class =" col-xs-12 col-sm-9 col-md-8 text-left  text-capitalize ">
                            <h2><%= info.local.firstname %> <%= info.local.lastname %></h2>
                          </div>
                          <div class="col-xs-12 text-capitalize">
                            <div class="row-contaioner">
                              <p class="text-muted text-left"><%= info.local.textColumn %></p>
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <div class="row-contaioner">
                              <h4 class="text-left text-info"> Menntun </h4>
                              <hr class="line-color"></hr>
                            <%if(info.local.degrees.school != undefined) { 
                               var deg = info.local.degrees;
                                var school = deg.school.split(",");
                                var degree = deg.degree.split(",");
                                var education = deg.education.split(",");
                                var startDate = deg.startDate.split(",");
                                var endDate = deg.endDate.split(",");
                                var statuss = deg.statuss.split(",");
                                for(var i=0; i<school.length; i++) {  %>
                          
                              

                              <div class="row bg-info kunnatabg" >

                                <div class=" col-xs-4 text-left ">
                                  <strong> <%=startDate[i] %></strong>
                                  <div class="verticalline"> </div>
                                  <strong><%=endDate[i] %></strong>
                                </div>

                                <div class="col-xs-8 text-left ">
                                  <strong> <%=school[i]%></strong> &nbsp;
                                  <%=statuss[i] %>
                                  <br>
                                  <%=degree[i] %>
                                  <br>
                                  <%=education[i] %>
                                </div>

                              </div>
                            
                           <%}}%>
                            </div>
                          </div>
                           <div class="col-xs-12">
                            <div class="row-contaioner">
                              <h4 class="text-left text-info"> Starfsreynsla </h4>
                              <hr class="line-color"></hr>
                        <%if(info.local.job.job!= undefined) { 
                            var jobs = info.local.job;
                            var job = jobs.job.split(",");
                            var jobName = jobs.jobName.split(",");
                            var jobPerc = jobs.jobPerc.split(",");
                            var jobStartDate = jobs.jobStartDate.split(",");
                            var jobEndDate = jobs.jobEndDate.split(",");
                            for(var i=0; i<job.length; i++) {  %>
                              

                              <div class="row bg-info kunnatabg" >
                                <div class=" col-xs-4 text-left ">
                                  <strong> <%=jobStartDate[i] %></strong>
                                  <div class="verticalline"> 
                                  </div>
                                  <strong><%=jobEndDate[i] %></strong>
                                </div>

                                <div class="col-xs-8 text-left ">
                                  <strong> <%=job[i]%></strong> &nbsp;
                                 <p> Starfsheiti: &nbsp; <%=jobName[i]%>
                                  <br>
                                   Starfshlutfall: &nbsp; <%=jobPerc[i] %></p>        
                                </div>
                              </div>  
                           <%}}%>
                            </div>
                        </div>

                          <div class = "imagescontainer">
                            <div class = "row">
                              <div class="col-xs-12 ">
                                <h4 class ="text-info">Myndagallerí</h4>
                                <hr >
                                <div class="carousel slide media-carousel" id="media">
                                  <div class="carousel-inner">
                                    <div class="item  active">
                                      <div class="row">

                                        <div class="col-md-4">

                                          <a class="thumbnail" href="<%=info.local.projects.pic0%>" data-lightbox="project-image" data-title=""  ><img <%if(info.local.projects.pic0) {%>src=<%=info.local.projects.pic0%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>

                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic1%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic1) {%>src=<%=info.local.projects.pic1%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>

                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic2%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic2) {%>src=<%=info.local.projects.pic2%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>        
                                      </div>

                                    </div>
                                    <div class="item">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic3%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic3) {%>src=<%=info.local.projects.pic3%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>        

                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic4%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic4) {%>src=<%=info.local.projects.pic4%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>

                                        <div class="col-md-4">
                                          <a class="thumbnail" href="<%=info.local.projects.pic5%>" data-lightbox="project-image" ><img <%if(info.local.projects.pic5) {%>src=<%=info.local.projects.pic5%>  <%}else{%> src="http://placehold.it/150x150"<% }%>></a>
                                        </div>        
                                      </div>
                                    </div>
                                  </div>
                                  <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                  <a data-slide="next" href="#media" class="right carousel-control">›</a>
                                </div>                          
                              </div>
                            </div>
                            <hr>
                          </div><!--imagecontainer-->
                        </div>
                      </div>
                      <!-- hafa samband-->

                      <div class="col-xs-4 ">
                        <h4 class="text-left infostyle text-info"> Hafa samband</h4>
                        <hr class="line-color"></hr>                      
                        <p class="contact-me-info"><strong> Póstfang</strong> </p>
                        <p class="contact-me-text text-muted">
                          <i class="fa fa-envelope-o fa-2x"></i>&nbsp;
                          <%= info.local.email %> </p>
                          <hr class =" line-between-contact-me"> 
                          

                        <%if(info.local.telephone != undefined) { %>
                        <p class="contact-me-info"><strong> Símanúmer</strong> </p>
                        <p class="contact-me-text text-muted">
                          <i class="fa fa-phone fa-2x"></i>&nbsp;
                          <%= info.local.telephone %> </p>
                          <hr class =" line-between-contact-me"> 
                          <%}%>      

                          <%if(info.local.skype != undefined) { %>
                          <p class="contact-me-info"><strong> Skype</strong> </p>  
                          <p class="contact-me-text text-muted">
                            <i class="fa fa-skype fa-2x"></i>&nbsp;
                            <%= info.local.skype %> </p>
                            <hr class =" line-between-contact-me"></hr>
                            <%}%>


                            <%if(info.local.website != undefined) { %>
                            <p class="contact-me-info" ><strong> Vefsíða</strong> </p>  
                            <p class="contact-me-text text-muted">  
                             <i class="fa fa-globe fa-2x"></i>&nbsp;
                             <a href ="<%= info.local.website %>"><%= info.local.website %></a></p>
                             <hr class =" line-between-contact-me">
                             <%}%>

                             <%if(info.local.feisbook != undefined) { %>
                             <p class="contact-me-info"><strong> Facebook</strong> </p>
                             <p class="contact-me-text text-muted"> 
                              <i class="fa fa-facebook fa-2x"></i> &nbsp;
                              <a href ="<%= info.local.feisbook %>">www.facebook.com/<%= info.local.firstname %></a></p>    
                              <hr class =" line-between-contact-me">
                              <%}%>

                              <!-- ég er að leita eftir -->

                              <%if(info.local.careerJob == "Framtíðarstarf" || info.local.summerJob == "Sumarstarf" || info.local.partialJob == "Tímabundið starf" || info.local.assignmentJob == "Verkefni" || info.local.startupJob== "Startup samstarf"){ %>

                              <h4 class="text-left infostyle text-info">Ég er að leita eftir</h4> 
                              <hr class="line-color"></hr>


                              <%if(info.local.careerJob == "Framtíðarstarf"){ %>
                              <p class="bg-primary careerJob "><strong> Framtíðarstarf </strong></p><%}%>

                              <%if(info.local.summerJob == "Sumarstarf"){ %>
                              <p class="bg-primary  careerJob"><strong>  Sumarstarf</strong> </p><%}%>

                              <%if(info.local.partialJob == "Tímabundið starf"){ %>
                              <p class="bg-primary careerJob"> <strong> Tímabundið starf </strong></p><%}%>

                              <%if(info.local.assignmentJob == "Verkefni"){ %>
                              <p class="bg-primary careerJob"> <strong> Verkefni </strong></p><%}%>

                              <%if(info.local.startupJob == "Startup samstarf"){ %>
                              <p class="bg-primary  careerJob"> <strong> Startup samstarf </strong></p><%}%>
                              <%}%>
                              <!-- Kunnáta -->
                              <%  if(typeof info.local.knowledge.knowledge != 'undefined') {%>
                                <h4 class="text-left infostyle text-info">Kunnátta</h4>
                                <hr class="line-color"></hr>
                                <%
                                var know = info.local.knowledge;
                                var knowledges = know.knowledge.split(",");
                                var rateKnowledge = know.rateKnowledge.split(","); 
                                for(var i=0; i<knowledges.length; i++){ %>

                              <div class="progress">
                                <div class="progress-bar progress-bar-info "  role="progressbar" 
                                aria-valuemin="0" aria-valuemax="100" style="width:<%if (rateKnowledge[i] === "Grunnreynsla"){%>30%<%}else if (rateKnowledge[i] === "Meðalreynsla"){%>60%<%}else if(rateKnowledge[i] === "Sérfræðingur"){%>100%<%}%>">
                                <span> "<%= knowledges[i] %>" </span>
                               </div>
                              </div>
                              <% } } %>
                   </div>
                 </div>
               </section> 
               <% }); %>
             </div>
           </div> <!-- /.row -->
         </div> 
         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
         <!-- Include all compiled plugins (below), or include individual files as needed -->
         <script src="/javascript/bootstrap.min.js"></script>
         <script src="/javascript/timer.js"></script>
         <script src="/javascript/lightbox.js"></script>


       </body>
       </html>